/node_modules
/public/hot
/public/storage
/public/videosayuda
/public/logotipo_empresa
/storage/*.key
/storage/archivos_pdf_documentos_generados
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
